@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.main-sidebar {
  font-family: "Roboto";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  background-color: #2d323e !important;
  color: #fff !important;
  transition-property: transform, width, min-width, max-width, -webkit-transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  z-index: 10;
}
.btn-show-sidebar{
    padding: 10px;
    border: none;
    width: 200px;
}
.main-sidebar.is-folded {
  width: 64px;
}
.main-sidebar.is-folded .nav-group-heading span {
  display: none;
}
.main-sidebar.is-folded .nav-group-heading:before {
  content: "";
  display: block;
  position: absolute;
  min-width: 1.6rem;
  border-top: 2px solid;
  opacity: 0.2;
}
.main-sidebar.is-folded .nav-sub-list {
  display: none;
  height: 0px;
}
.main-sidebar.is-folded .main-sidebar__wrapper {
  overflow: hidden;
}
.main-sidebar.is-folded .main-sidebar__toggle-sidebar {
  display: none;
}
.main-sidebar.is-folded .main-sidebar__logo-text {
  display: none;
}
.main-sidebar.is-folded .nav-link-title {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.main-sidebar.is-folded .nav-link {
  border-radius: 20px;
  margin: 0 12px;
  padding: 0 12px;
}
.main-sidebar.is-folded:hover {
  width: 280px;
}
.main-sidebar.is-folded:hover .nav-group-heading span {
  display: block;
}
.main-sidebar.is-folded:hover .nav-group-heading:before {
  display: none;
}
.main-sidebar.is-folded:hover .nav-sub-list {
  display: none;
  height: 0px;
}
.main-sidebar.is-folded:hover .main-sidebar__wrapper {
  overflow: auto;
}
.main-sidebar.is-folded:hover .nav-link {
  padding: 0 12px 0 24px;
  border-radius: 0 20px 20px 0;
  margin: 0 16px 0 0;
}
.main-sidebar.is-folded:hover .nav-sub-list .nav-link {
  padding-left: 56px;
}
.main-sidebar.is-folded:hover .main-sidebar__toggle-sidebar {
  display: block;
}
.main-sidebar.is-folded:hover .main-sidebar__logo-text {
  display: block;
}
.main-sidebar.is-folded:hover .nav-link-title {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.main-sidebar:before,
.main-sidebar:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.33;
  background: #000;
}
.main-sidebar[data-color="red"]:after {
  background: linear-gradient(180deg, #fb404b 0, #bb0502);
  background-size: 150% 150%;
}
.main-sidebar[data-color="black"]:after {
  background: #292929;
  background: linear-gradient(180deg, #282828 0, #111);
  background-size: 150% 150%;
}
.main-sidebar[data-color="charade"]:after {
  background: #2d323e;
}
.main-sidebar[data-image]:after {
  opacity: 0.77;
}
.main-sidebar__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
}
.main-sidebar__logo-icon {
  font-size: 22px;
  margin-right: 8px;
}
.main-sidebar__toggle-sidebar {
  background: none;
  border: none;
  transition-property: transform, width, min-width, max-width, -webkit-transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
.main-sidebar__wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  z-index: 4;
  padding-bottom: 30px;
}
.main-sidebar__wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.main-sidebar__wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}
.main-sidebar__wrapper::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
  border-radius: 12px;
}
.main-sidebar__logo {
  display: flex;
  align-items: center;
}
.main-sidebar__logo-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
}
.main-sidebar__logo-brand {
  height: 64px;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  background: #1e2129;
  z-index: 4;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  max-height: 64px;
  height: 64px;
  padding: 12px 12px 12px 20px;
}
.main-sidebar__logo-brand img {
  height: 100%;
}

.nav-main {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

.nav-group-heading {
  text-transform: uppercase;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  font-weight: 600;
  padding-left: 24px;
  margin-top: 8px;
  font-size: 12px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.nav-link-icon {
  margin-right: 16px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  line-height: 16px;
}

.nav-link-carrot {
  font-size: 16px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  line-height: 16px;
  transition: 0.15s;
  transform: rotate(90deg);
}

.nav-item-mother.open {
  background: rgba(33, 36, 45, 0.36);
}
.nav-item-mother.open .nav-link-carrot {
  transform: rotate(0deg);
}

.nav-link {
  height: 40px;
  padding: 0 12px 0 24px;
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
}
.nav-link:hover {
  background-color: #272935;
}

.nav-link-title {
  flex: 1 1 auto;
  white-space: nowrap;
}

.nav-sub-list .nav-link {
  padding-left: 56px;
}

.nav-sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.active {
  background-color: #e91e63 !important;
}

.main-nav__item {
  position: relative;
  display: block;
}
.main-nav__item.open {
  background: rgba(0, 0, 0, 0.12);
}
.main-nav__link:hover {
  background: rgba(255, 255, 255, 0.23);
}
.main-nav__link--active {
  background: #e91e63;
}
.main-nav__icon-arrow {
  color: white;
}
.main-nav__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__sub-list li {
  padding-left: 56px;
}
.main-nav__sub-list a {
  color: white;
  height: 40px;
  padding: 0 12px 0 24px;
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
}

.nav-sub-list-collapse {
  height: 0px;
  overflow: hidden;
  transition: linear 0.15s;
}
